#kuwo {
    background-color: aquamarine;
    font-size: 18px;

    .song {
        text-align: center;
        padding-top: 60px;

        .name {
            margin: 0 auto;
            font-size: 1.3em;
            font-weight: 600px;
        }

        .artist {
            font-size: 1em;
            margin: 0 auto;
            font-weight: 400;
            color: hsla(0, 0%, 100%, .8);
        }
    }

    .wrap {
        padding-top: 25px;

        .rotate {
            img {
                width: 200px;
                height: 200px;
                //border:1px solid red;
                border-radius: 50%;
            }
        }

        .lyric {
            margin: 15px 0 0 0;
            height: 60px;
            overflow: hidden;

            li {
                height: 30px;
                //background-color: red;
                font-size: 20px;
                line-height: 30px;
            }

            .select {
                //background-color: burlywood;
                color: #fff;
            }
        }

    }

    .Progress_body {
        display: flex;
        width: 100%;
        text-align: center;
        line-height: 32px;
        margin: 10px 0;

        .start,
        .end {
            width: 50px;
            line-height: 32px;
        }

        .slider {
            flex: 1;
        }

    }

    .download {
        text-align: center;
        height: 48px;
        margin-bottom: 20px;

        .ant-btn-round {
            height: 48px;
            padding: 4px 100px;
        }
    }

    .nav-title {
        padding-left: 20px;
        font-size: 1.4em;
        font-weight: 500;
        color: #fff;
    }
}